In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [66]:
data = pd.read_csv("training.csv")
print(data.head(5))  #first five rows of data
print(data.describe()) #Gives an overview of various statistics over data

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch     Fare  Cabin Embarked
0      0   7.2500      0        S
1      0  71.2833      3        C
2      0   7.9250      0        S
3      0  53.1000      3        S
4      0   8.0500      0        S
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   29.382907    0.523008
std     257.353842    0.486592    0.836071   13.260272    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   22.000000    0.000000
50%     446.000000    0.000000    3.000000   27.000000    0.000000
75%     668.500000    1.000000    3.000000   36.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare       Cabin
count  891.000000  891.000000  891.000000
mean     0.381594   32.204208    0.776655
std      0.806057   49.693429    1.590899
min      0.000000    0.000000    0.000000
25%      0.000000    7.910400    0.000000
50%      0.000000   14.454200    0.000000
75%      0.000000   31.000000    0.000000
max      6.000000  512.329200    8.000000

In [67]:
print(data.columns)
for column in data.columns:
    print(data[column].dtype) #Prints type of columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
int64
int64
int64
object
object
float64
int64
int64
float64
int64
object

In [68]:
print(pd.isnull(data)) #Returns True for places with no value

     PassengerId  Survived  Pclass   Name    Sex    Age  SibSp  Parch   Fare  \
0          False     False   False  False  False  False  False  False  False
1          False     False   False  False  False  False  False  False  False
2          False     False   False  False  False  False  False  False  False
3          False     False   False  False  False  False  False  False  False
4          False     False   False  False  False  False  False  False  False
5          False     False   False  False  False  False  False  False  False
6          False     False   False  False  False  False  False  False  False
7          False     False   False  False  False  False  False  False  False
8          False     False   False  False  False  False  False  False  False
9          False     False   False  False  False  False  False  False  False
10         False     False   False  False  False  False  False  False  False
11         False     False   False  False  False  False  False  False  False
12         False     False   False  False  False  False  False  False  False
13         False     False   False  False  False  False  False  False  False
14         False     False   False  False  False  False  False  False  False
15         False     False   False  False  False  False  False  False  False
16         False     False   False  False  False  False  False  False  False
17         False     False   False  False  False  False  False  False  False
18         False     False   False  False  False  False  False  False  False
19         False     False   False  False  False  False  False  False  False
20         False     False   False  False  False  False  False  False  False
21         False     False   False  False  False  False  False  False  False
22         False     False   False  False  False  False  False  False  False
23         False     False   False  False  False  False  False  False  False
24         False     False   False  False  False  False  False  False  False
25         False     False   False  False  False  False  False  False  False
26         False     False   False  False  False  False  False  False  False
27         False     False   False  False  False  False  False  False  False
28         False     False   False  False  False  False  False  False  False
29         False     False   False  False  False  False  False  False  False
..           ...       ...     ...    ...    ...    ...    ...    ...    ...
861        False     False   False  False  False  False  False  False  False
862        False     False   False  False  False  False  False  False  False
863        False     False   False  False  False  False  False  False  False
864        False     False   False  False  False  False  False  False  False
865        False     False   False  False  False  False  False  False  False
866        False     False   False  False  False  False  False  False  False
867        False     False   False  False  False  False  False  False  False
868        False     False   False  False  False  False  False  False  False
869        False     False   False  False  False  False  False  False  False
870        False     False   False  False  False  False  False  False  False
871        False     False   False  False  False  False  False  False  False
872        False     False   False  False  False  False  False  False  False
873        False     False   False  False  False  False  False  False  False
874        False     False   False  False  False  False  False  False  False
875        False     False   False  False  False  False  False  False  False
876        False     False   False  False  False  False  False  False  False
877        False     False   False  False  False  False  False  False  False
878        False     False   False  False  False  False  False  False  False
879        False     False   False  False  False  False  False  False  False
880        False     False   False  False  False  False  False  False  False
881        False     False   False  False  False  False  False  False  False
882        False     False   False  False  False  False  False  False  False
883        False     False   False  False  False  False  False  False  False
884        False     False   False  False  False  False  False  False  False
885        False     False   False  False  False  False  False  False  False
886        False     False   False  False  False  False  False  False  False
887        False     False   False  False  False  False  False  False  False
888        False     False   False  False  False  False  False  False  False
889        False     False   False  False  False  False  False  False  False
890        False     False   False  False  False  False  False  False  False

     Cabin  Embarked
0    False     False
1    False     False
2    False     False
3    False     False
4    False     False
5    False     False
6    False     False
7    False     False
8    False     False
9    False     False
10   False     False
11   False     False
12   False     False
13   False     False
14   False     False
15   False     False
16   False     False
17   False     False
18   False     False
19   False     False
20   False     False
21   False     False
22   False     False
23   False     False
24   False     False
25   False     False
26   False     False
27   False     False
28   False     False
29   False     False
..     ...       ...
861  False     False
862  False     False
863  False     False
864  False     False
865  False     False
866  False     False
867  False     False
868  False     False
869  False     False
870  False     False
871  False     False
872  False     False
873  False     False
874  False     False
875  False     False
876  False     False
877  False     False
878  False     False
879  False     False
880  False     False
881  False     False
882  False     False
883  False     False
884  False     False
885  False     False
886  False     False
887  False     False
888  False     False
889  False     False
890  False     False

[891 rows x 11 columns]

In [69]:
for column in data.columns:
    if np.any(pd.isnull(data[column])) == True:
            print(column)

In [70]:
# convert female/male to numeric values (male=0, female=1)
data.loc[data["Sex"] == "male", "Sex"] = 0
data.loc[data["Sex"] == "female", "Sex"] = 1

In [71]:
#Convert Embarked town status to int

data.loc[data["Embarked"] == "S", "Embarked"] = 0
data.loc[data["Embarked"] == "C", "Embarked"] = 1
data.loc[data["Embarked"] == "Q", "Embarked"] = 2

In [87]:
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import cross_val_score
#The list of predictors we feel are useful in determining the accuracy of training data.
predictors = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Cabin", "Embarked"]

In [94]:
#The inbuit command for Logistic Regression Model
logreg = LogisticRegression()

In [95]:
#Cross Validation score using logistic regression over a relationship between columns specified inside predictors array
print(cross_val_score(logreg, data[predictors], data['Survived'], cv=15, scoring='accuracy').mean())

0.814819793493

In [96]:
# reading the test data
test = pd.read_csv("test.csv")

In [101]:
#Checking for columns with blank data in test.csv
for column in test.columns:
    if np.any(pd.isnull(test[column])) == True:
            print(column)

Fare

In [97]:
#Cleaning data to int and booleans for better co-relation.
test.loc[test["Sex"] == "male", "Sex"] = 0
test.loc[test["Sex"] == "female", "Sex"] = 1

test.loc[test["Embarked"] == "S", "Embarked"] = 0
test.loc[test["Embarked"] == "C", "Embarked"] = 1
test.loc[test["Embarked"] == "Q", "Embarked"] = 2

In [98]:
#Applying Logistic Regression to test data.
logreg.fit(data[predictors], data["Survived"])
prediction = logreg.predict(test[predictors])

#Preparing the dataframe of final output
submission = pd.DataFrame({ 
    "PassengerId" : test["PassengerId"],
    "Survived" : prediction
    })

print(submission)

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         1
19           911         0
20           912         0
21           913         0
22           914         1
23           915         1
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         1
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         1
404         1296         0
405         1297         1
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [99]:
submission.to_csv("submission.csv", index=False) #Storing the submission to a csv file for submission to Kaggle.